body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 3rem;
}
h3, h4 {
	color: #222;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 1px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #555;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: disc;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	-webkit-padding: 0;
	-moz-padding: 0;
	margin-left: 2rem;
}
hr {
	height: 1px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #666;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.affix, .affix-top{
    position: fixed;
    top: 0;
	width: 100%
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #333333e6;
	border-radius: 0px;
	padding: .5rem 0;
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.navbar-custom a {
	color: #f5f5f5;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

@media only screen and (min-width: 600px) {
    .navbar-custom .nav li a { 
    	margin: 0 15px;  
    }
}
@media only screen and (min-width: 1200px) {
    .navbar-custom .nav li a { 
    	margin: 0 3rem;  
    }
}


.navbar-custom .nav li a:hover {
	outline: 0;
	text-decoration: underline;
    color: #ccc;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	text-decoration: underline;
    color: #ccc;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border-color: #455052;
	background-color: #455052;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
}
.back-to-top {
 text-transform: uppercase;
	color: #fff;
	background-color: transparent;
	border-color: #455052;
	background-color: #455052;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}

.btn-header {
	text-transform: uppercase;
	color: #d3d3d3;
	background-color: transparent;
	border-color: #777;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
}
.btn-header:hover, .btn-header:focus, .btn-header.focus, .btn-header:active, .btn-header.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	text-align: center;
	color: #d3d3d3;
	background: url(../img/intro-bg.jpg) no-repeat center top;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
    height: auto !important;
    box-shadow: inset 0px 0px 100px black;
}

@media only screen and (min-width: 1000px) {
	.intro:after {
	  box-shadow: inset 0px 0px 1000px black;
	}
}

.section-title.center {
	padding: 10px 0 40px 0;
}
.intro h1 {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 20px;
	color: #d3d3d3;
}
.intro h2{
	color: #d3d3d3;
}
.intro p {
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
}
/* About Section */
#about, #recruitment, #rooster {
	padding: 10rem 0;
}
#about .about-text {
	margin-left: 10px;
}
#about img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	display: inline-block;
}
#about p {
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
}
/* Portfolio Section */
#portfolio {
	padding: 120px 0;
	background: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type {
	margin: 0;
}
ol.type li {
	display: inline-block;
	min-height: 40px;
}
ol.type li a {
	border: 1px solid #777;
	color: #555;
	padding: 8px 20px;
}
ol.type li a.active {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
ol.type li a:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Contact Section */
#contact {
	padding: 120px 0 60px 0;
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 1px solid #999;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 22px;
	padding: 4px;
	color: #444;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #000;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	color: #777;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #555;
}
#footer a:hover {
	color: #000;
}

.img-responsive{
	display: inline;
}


/* recruitment table */
.divTable{
	display: table;
	text-align: left;
    margin: 0 auto;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	border: 1px solid #fff;
    display: table-cell;
    padding: .5rem 1rem;
    color: #fff;
    background-color: #333;
}
.divTableHead {
	font-weight: bold;
    text-align: center;
    font-size: 2rem;
}
.divTableFoot {
	background-color: #333;
	color: #fff;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.color_Geschlossen{
	color: #7f8c8d;
}
.color_Niedrig{
	color: #c0392b;
}
.color_Mittel{
	color: #f1c40f;
}
.color_Offen{
	color: #2ecc71;
}

.color_Geschlossen, .color_Niedrig, .color_Mittel, .color_Offen{
	font-weight: bold;
	text-align: center;
}

.divTableCell img {
    width: 24px;
    margin-right: 8px;
}

.player{
	margin: 1rem 0;
    float: left;
}

.playerclass {
    background-color: #333;
    padding: .75rem;
    border-radius: 50%;
    float: left;
    width: 63px;
    margin: .125rem 0;
}
@media only screen and (min-width: 1200px) {
	.player {
		margin-left: 20%;
	}
}
.playername {
    border-bottom: 1px solid #333;
    margin-left: -1rem;
    padding: 0rem 1rem 0 2rem;
    float: left;
    font-weight: bold;
    width: 120px;
}

.playertitle {
	float: left;
    top: 32px;
    left: -100px;
    position: relative;
    width: 120px;	

}
.playercouncil {
	top: 2px;
    left: 10px;
    position: relative;
}

@media only screen and (min-width: 768px) {
	.playertitle {
		float: left;
		top: 2px;
		left: 10px;
		position: relative;
		width: 120px;	
	}
}
@media only screen and (max-width: 645px) {
	.col-tn-12 {
		width: 100%; 	
	}
}

.raidprogress {
    
}

.raidprogress_image{
	/* border-radius: 50%; */
    max-width: 180px;
    height: 180px;
    margin-bottom: 3rem;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: radial-gradient(ellipse 85% 76% at 50% 60%, black 42%, transparent 52%);
    mask-image: radial-gradient(ellipse 90% 80% at 48% 78%, black 40%, transparent 50%);
}

.raid_name {
    font-size: 3rem;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
}


.progress {
    height: 1.125rem;
    margin-bottom: 0;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
    font-size: 1.25rem;
}

.encounter_list {
    margin-bottom: 5rem;
    float: left;
    clear: both;
    width: 100%;
}

.encounter_entry {
    float: left;
    width: 100%;
    border: 1px solid #fff;
    display: table-cell;
    padding: .75rem;
    color: #fff;
    background-color: #333;
}

.boss_image {
    margin: 1rem 0;
    max-width: 100%;
}

encounter {
    font-size: 2rem;
    width: 100%;
    clear: both;
    float: left;
}

.bg-dark {
    background-color: #333!important;
}
.text-white {
    color: #fff!important;
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: .5rem;
}

i.fas {
    padding-right: 1rem;
}

.contentblock {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.is-visible {
    margin: 100px 0;
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;
}

.contentblock.home.is-visible {
    display: contents;
}



