<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Über uns</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="img/about.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <h3>Intro</h3>
          <p>
Awake ist eine Gilde die für all diejenigen einen Platz bieten soll die wegen ihres Alltags nicht am Leben einer "standart 9-5 Arbeitergilde" teilnehmen können aber dennoch Dungeons, PvP und vor allem Raids in hoher Qualität bestreiten möchten. <br>
Wir suchen: Alle nachtaktiven Socials so wie engagierte Raider
</p>
<br>
<h3>Ziele</h3>
<p>
<ul>
  <li>Ab der 4. Woche gildenintern raiden, ab der 2. Woche Pugs</li>
  <li>Eine hohe Raidqualität haben</li>
  <li>Eine Leitposition im premade PvP des Servers zu haben</li>
  <li>Spaß zusammen haben</li>
</ul>
</p>
<br>
<h3>Erwartungen von den Raidern</h3>
<p>
<ul>
  <li>Ihr kennt eure Klasse und alle Mechaniken des Raids der bestritten wird.</li>
<li>Consumables sollten kein Fremdwort sein.</li>
<li>Verzaubertes Equipment ist selbstverständlich.</li>
<li>So hohe Raidteilnahme wie möglich damit nur wenige auf der Bank sitzen müssen.</li>
<li>Ihr seid Kritikfähig und wollt spielerisch wachsen</li>
</ul>
</p>
<br>
<h3>Wir bieten</h3>
<p>
  <ul>
    <li>Eine strukturierte Gilde</li>
    <li>Erfahrene PvE Leitung</li>
    <li>Erfahrene PvP Premadeleitung</li>
    <li>Klassenleiter die euch helfen das maximale aus eurem Charakter rauszuholen</li>
  </ul>
</p>
<br>
<h3>Raid Info</h3>
<p>
<ul>
  <li>Raidzeiten Sonntag/Montag und Mittwoch/Donnerstag , start ca 23:30 -3:00</li>
<li>Anzahl an Raidtagen: 2 für 40, 20er Raids an Offtagen</li>
<li>Lootvergabe startet mit DKP in P1 und P2, danach wechsel auf Loot Council</li>
</ul>
          </p>
          <a href="https://discord.gg/35jZ3C3" class="btn btn-default btn-lg page-scroll">Discord</a> </div>
      </div>
    </div>
  </div>
</div>