<header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1><small>&lt;</small>Awake<small>&gt;</small></h1>
          <hr>
          <small>WoW Classic Horden Gilde</small>
          <p>Lucifron • DE • PvP</p>
          
          <a href="#about" class="btn btn-default btn-lg page-scroll">Über uns</a> </div>
          <a href="https://discord.gg/35jZ3C3" class="btn btn-default btn-lg page-scroll">Discord</a> </div>
      </div>
    </div>
  </div>
</header>