<header id="header">
  <div class="intro">
    <div class="container">

      <div class="row">
        <div class="intro-text">
          <h1><small>&lt;</small>Awake<small>&gt;</small></h1>
          <hr>
          <h2>Horde • Lucifron • DE • PvP</h2>
          <small>WoW-Classic • Semi-Hardcore • Nachtraids</small>
        </div>
      </div>

      <div class="row">
          <a href="#about" class="btn btn-header btn-lg page-scroll">Über uns</a>
          <a href="#recruitment" class="btn btn-header btn-lg page-scroll">Recruitment</a>
          <a href="https://discord.gg/35jZ3C3" class="btn btn-header btn-lg page-scroll">Discord</a> 
      </div>

    </div>
  </div>
</header>