<div id="nav" class="affix">
  <nav class="navbar navbar-custom" >
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
     
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li> <a class="page-scroll" href="#page-top">Home</a></li>
          <li> <a class="page-scroll" href="#about">Über uns</a></li>
          <li> <a class="page-scroll" href="#recruitment">Recruitment</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
