<div id="nav" class="affix">
  <nav class="navbar navbar-custom" >
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
     
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li> <a class="page-scroll" href="index.html"><i class="fas fa-home"></i>Home</a></li>
          <li> <a class="page-scroll" href="index.html#about"><i class="fas fa-coffee"></i>Über uns</a></li>
          <li> <a class="page-scroll" href="index.html#recruitment"><i class="fas fa-user-plus"></i>Recruitment</a></li>
          <li> <a class="page-scroll" href="index.html#rooster"><i class="fas fa-users"></i>Mitglieder</a></li>
          <!-- <li> <a class="page-scroll" href="progress.html"><i class="fas fa-trophy"></i>Raid-Fortschritt</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>
