<div id="recruitment">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Recruitment</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="img/recruit.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">

          <p>Solltest du interessiert sein bei uns mit zu raiden bedenke bitte das wir aktuell Heiler die ambitioniert sind schnell Level 60 zu erreichen bevorzugen. Eine Bewerbung auf "closed" Klassen ist möglich muss aber sehr überzeugend sein. Bitte gebt uns 3 Tage Zeit um eure Bewerbung zu bearbeiten.
          <br>
          Unabhängig des Recruitment Status kannst du dich auch als Social bewerben.</p>

          <div class="divTable">
            <div class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell">Class</div>
                <div class="divTableCell">Status</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Prot Warrior</div>
                <div class="divTableCell">closed</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Fury Warrior</div>
                <div class="divTableCell">closed</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Resto Shaman</div>
                <div class="divTableCell">low</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Hunter</div>
                <div class="divTableCell">closed</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Rogue</div>
                <div class="divTableCell">closed</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Resto Druid</div>
                <div class="divTableCell">medium</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Feral Druid</div>
                <div class="divTableCell">medium</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Warlock</div>
                <div class="divTableCell">medium</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Holy/Disc Priest</div>
                <div class="divTableCell">low</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Shadow Priest</div>
                <div class="divTableCell">closed</div>
              </div>
              <div class="divTableRow">
                <div class="divTableCell">Mage</div>
                <div class="divTableCell">closed</div>
              </div>
            </div>
          </div>

        

          <a href="https://discord.gg/35jZ3C3" class="btn btn-default btn-lg page-scroll">Bewerbung in Discord</a> </div>
      </div>
    </div>
  </div>
</div>