<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Recruitment</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="img/about.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">

          <p>Solltest du interessiert sein bei uns mit zu raiden bedenke bitte das wir aktuell Heiler die ambitioniert sind schnell Level 60 zu erreichen bevorzugen. Eine Bewerbung auf "closed" Klassen ist möglich muss aber sehr überzeugend sein. Bitte gebt uns 3 Tage Zeit um eure Bewerbung zu bearbeiten.
          <br>
          Unabhängig des Recruitment Status kannst du dich auch als Social bewerben.</p>

          <table>
            <thead>
              <th>Class</th><th>Status</th>
            </thead>
            <tbody>
              <tr><td>Prot Warrior</td><td>closed</td></tr>
              <tr><td>Fury Warrior</td><td>closed</td></tr>
              <tr><td>Resto Shaman</td><td>low</td></tr>
              <tr><td>Hunter</td><td>closed</td></tr>
              <tr><td>Rogue</td><td>closed</td></tr>
              <tr><td>Resto Druid</td><td>medium</td></tr>
              <tr><td>Feral Druid</td><td>medium</td></tr>
              <tr><td>Warlock</td><td>medium</td></tr>
              <tr><td>Holy/Disc Priest </td><td>low</td></tr>
              <tr><td>Shadow Priest</td><td>closed</td></tr>
              <tr><td>Mage</td><td>medium</td></tr>
            </tbody>
          </table>
        

          <a href="https://discord.gg/35jZ3C3" class="btn btn-default btn-lg page-scroll">Bewerbung in Discord</a> </div>
      </div>
    </div>
  </div>
</div>