<!-- Portfolio Section -->
<div id="rooster" class="hidden">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Mitgleider Liste</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">Alle</a></li>
            <li><a href="#" data-filter=".druid">Druiden</a></li>
            <li><a href="#" data-filter=".warlock">Hexenmeister</a></li>
            <li><a href="#" data-filter=".hunter">Jäger</a></li>
            <li><a href="#" data-filter=".warrior">Krieger</a></li>
            <li><a href="#" data-filter=".mage">Magier</a></li>
            <li><a href="#" data-filter=".priest">Priester</a></li>
            <li><a href="#" data-filter=".shaman">Schamanen</a></li>
            <li><a href="#" data-filter=".rogue">Schurken</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">

        <div class="col-sm-6 col-md-3 col-lg-2 druid">
          <div class="player">
            <img src="img/class/druid.png" class="img-responsive playerclass" alt="Druide">
            <div class="playername druid">Tecc</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 druid">
          <div class="player">
            <img src="img/class/druid.png" class="img-responsive playerclass" alt="Druide">
            <div class="playername druid">Tecsumo</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 druid">
          <div class="player">
            <img src="img/class/druid.png" class="img-responsive playerclass" alt="Druide">
            <div class="playername druid">Wuusaa</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 druid">
          <div class="player">
            <img src="img/class/druid.png" class="img-responsive playerclass" alt="Druide">
            <div class="playername druid">Jayjojane</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 hunter">
          <div class="player">
            <img src="img/class/hunter.png" class="img-responsive playerclass" alt="Jäger">
            <div class="playername hunter">Sabra</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 warrior">
          <div class="player">
            <img src="img/class/warrior.png" class="img-responsive playerclass" alt="Krieger">
            <div class="playername druid">Serenetas</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 warrior">
          <div class="player">
            <img src="img/class/warrior.png" class="img-responsive playerclass" alt="Krieger">
            <div class="playername druid">Montrocity</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 warrior">
          <div class="player">
            <img src="img/class/warrior.png" class="img-responsive playerclass" alt="Krieger">
            <div class="playername druid">Drölf</div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2 warrior">
          <div class="player">
            <img src="img/class/warrior.png" class="img-responsive playerclass" alt="Krieger">
            <div class="playername druid">Semibah</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>