
<!DOCTYPE html>
<html>
<head>
  <title>PURE Unobtrusive Rendering Engine</title>
  <script src="http://pure.github.io/pure/libs/pure.js"></script>
</head>
<body>

   <!-- HTML template -->
   <memberlist>

<entry>
	<div class="col-sm-6 col-md-3 col-lg-3 ">
	  <player class="portfolio-item player">
	    <img class="img-responsive playerclass" src="img/class/" alt="">
	    <playername class="playername"></playername>
	  </player>
	</div>
	</entry>

	</memberlist>

  <script>

    var data = {
      members:[
        {name:'Tecc', class:'druid', klasse:'Druide'},
        {name:'Sabra', class:'hunter', klasse:'Jäger'},
        {name:'Blubb', class:'priest', klasse:'Priester'},
      ]
   },
   directive = {
      'entry':{
        'member<-members':{
          'div@class+':'member.class',
          'playername':'member.name', 
          'img@src+': '#{member.class}.png', 
          'img@alt': 'member.klasse', 
        }
      }
    };
    $p( 'memberlist' ).render( data, directive );

  </script>


</body>
</html>



